# Python
__pycache__/
*.py[cod]
.venv
venv/
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Database
*.db
*.sqlite
alembic_migrations.db

# IDE
.vscode/
.idea/

# Custom
backups_*/
*.backup
